#app{
    margin-top:20px;
}
.pagewrap{
    min-height: 400px;
    max-width: 1120px;
    /*padding: 0 30px;*/
    margin: 0 auto;
}
.pagewrap .mainlib{
    width: 760px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 40px;
}

.pagewrap .mainlib .center_content {
    /*line-height: 2;*/
    padding: 1.5rem 0 0 0;
    margin-right: 0px;
}
.pagewrap .mainlib .center_content h1 {
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
    color: #3d464d;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 28px;
    text-align: left;
    line-height: 36px;
    word-break: break-word;
    word-wrap: break-word;
}
.pagewrap .mainlib .author-panel {
    margin-bottom: 1.4rem;
}
.pagewrap .mainlib .author {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.pagewrap .mainlib .author a{
    color: #366df0;
}
.pagewrap .mainlib .am-fl {
    float: left;
}
.am-cf:after,.am-cf:before {
    content: " ";
    display: table
}

.am-cf:after {
    clear: both
}
.pagewrap .mainlib .author a, .pagewrap .mainlib .author abbr, .pagewrap .mainlib .author img, .pagewrap .mainlib .author span {
    display: inline-block;
    vertical-align: middle;
}
.pagewrap .mainlib .author .time {
    color: #999;
}
.pagewrap .mainlib .author .time abbr {
    border: 0 none;
    cursor: default;
}

.pagewrap .mainlib .summary {
    padding: 15px 0;
    color: #999;
    font-size: 15px;
    margin-bottom: 0;
}
.pagewrap .mainlib .summary:after {
    display: block;
    width: 160px;
    height: 4px;
    border-radius: 3px;
    background: #efefef;
    content: "";
    margin-top: 1rem
}

.article-detail {
    font-size: 15px;
    color: #3d464d;
    opacity: 1;
    width: 100%;
}

.article-detail .content-wrapper{
	font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
    line-height: 28px;
    font-size: 15px;
    color: #3d464d;
}

.article-detail .content-wrapper .textblock p {
    margin-bottom: 26px;
    word-wrap: break-word
}

.article-detail .content-wrapper .textblock p a {
    color: #3d464d;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #999;
    padding: 0 0 1px;
    word-wrap: break-word
}

.article-detail .content-wrapper .textblock p a:hover {
    color: #4285f4;
    border-color: #4285f4
}

.article-detail .content-wrapper .textblock ol,.article-detail .content-wrapper .textblock ul {
    padding: 0 0 0 20px;
    margin-bottom: 22px
}

.article-detail .article-footer-label {
    margin-top: 30px;
    font-size: 13px;
    line-height: 1.5;
    padding: 15px;
    border: 1px solid #efefef;
    color: #999;
    border-radius: 4px;
}
.article-detail .article-footer-label a {
    color: #3d464d;
}
.article-detail section.single-post-tags {
    padding-top: 15px;
}
.article-detail section.single-post-tags a {
    margin-right: 10px;
    color: #68727d;
    display: inline-block;
    height: 26px;
    line-height: 24px;
    padding: 0 15px;
    border: 1px solid #68727d;
    border-radius: 15px;   
}
.article-detail .fav-wrapper {
    text-align: center;
    margin: 1.75rem 0;
    line-height: 2;
}
.article-detail .fav-wrapper a.post-pc-like {
    display: inline-block;
    padding: .25rem 1.5rem;
    background-color: #4285f4;
    border-radius: 4px;
    color: #fff;
    font-size: .8rem;
}
.article-detail .fav-wrapper a.post-pc-like:hover {
    background-color: #51b6ff;
    color: #fff!important;
}

.article-detail .fav-wrapper .total-count-box {
    font-size: 12px;
    margin-left: 2px;
}
.article-detail .fav-wrapper .total-count-box b{
    font-weight: 700;
    font-size: 10px;
    color: #fff;
}

.pagewrap .mainlib .ads_box a {
    display: block;
    background-position: 50%;
    width: 100%;
    padding-bottom: 19.58%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.related-articles{

}
.related-articles h4{
    color: #3d464d;
    margin: 10px 0;
    font-weight: 600;
    font-size: 100%;
}
.related-articles .layout{

}
.related-articles .layout ul{
    
}
.related-articles .layout ul li{
    width: 240px;
    height: 180px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom:35px;
}
.related-articles .layout ul li:last-child{
    margin-right: 0;
}
.related-articles .layout ul li a.img-box{
    display: block;
    width: 240px;
    height: 138px;
    overflow: hidden;
}

.related-articles .layout ul li a.img-box img{
    width: 240px;
    -webkit-transition: .7s;
    transition: .7s;
}
.related-articles .layout ul li a.img-box:hover img{
    transform: scale(1.02);
}
.related-articles .layout ul li a.dec span{
    font-size: 15px;
    color: #333;
    width: 100%;
    padding: .5rem 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 3.4em;
    word-break: break-all;
}
.related-articles .layout ul li a.dec:hover span{
    color: #366df0!important;
}

/*右侧框*/
.pagewrap .rightlib{
    width: 320px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.rightlib .pad_inner {
    font-size: .65rem;
    margin-bottom: 2.5rem;
}
.guess-posts-list {
    overflow: hidden;
}
.guess-posts-list h4 {
    margin: 25px 0 10px;
    font-size: .7rem;
    font-weight: 600;
}
.guess-posts-list ul {
    list-style: none;
    padding: 0;
}
.guess-posts-list .item {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.guess-posts-list .item .desc {
    display: block;
    /*color: #3d464d;*/
    font-size: 14px;
    text-overflow: ellipsis;
    /*display: -webkit-box;*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*line-height: 1.8rem;*/
    max-height: 3.6rem;
    word-break: break-all;
    position: relative;
    padding-left: 16px;
    box-sizing: border-box;
}
.guess-posts-list .item .desc:before {
    position: absolute;
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #4285f4;
    content: "";
}
.guess-posts-list .item:after {
    clear: both;
}
.guess-posts-list .item:after, .guess-posts-list .item:before {
    content: " ";
    display: table;
}
*, :after, :before {
    box-sizing: border-box;
}
.next-post-wrapper {
    margin-top: 15px;
    border: 1px solid #efefef;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}
.next-post-wrapper h4 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 200;
    color: #9ca4ab;
}
.next-post-wrapper.show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: all .5s;
    transition: all .5s;
}
.next-post-wrapper .tags-list a {
    color: #9ca4ab;
}

#pin-wrapper-fixed{
    width: 320px;
    position:fixed;
    /*left: 50%; */
    top:88px; 
    z-index:1000;
    /*margin-left: 610px;*/
    _position:absolute; 
    _margin-top: 0; 
    _top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2);
}





