#app .carousels {
    background-color: #fff;
    min-height: 5rem;
    vertical-align: top;
    width: 100%;
    position: relative; 
    overflow: auto;
    height: 250px;
}
#app .carousels ul{
    position: absolute;
}
#app .carousels ul li{
    /*display: none;*/
    overflow: hidden;
    height: 250px;
    list-style: none;
    float: left;
}
#app .carousels ul li.slick-active{
    /*display: block!important;*/
}
#app .carousels ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    -webkit-transition: .7s;
    transition: .7s;
}
#app .carousels ul li a:hover{  
    transform: scale(1.02);  
} 
.unslider{
    position: relative;
}
.unslider .unslider-arrow{
    display: none;
}
.unslider nav.unslider-nav {
    text-align: center;
}
.unslider nav.unslider-nav ol{
    display: flex!important;
    background: rgba(0,0,0,.3);
    width: 100%;
}
.unslider nav.unslider-nav ol li {
    display: inline-block;
    position: relative;
    padding: 0;
    width: 100%;
    /*height: 15px;*/
    height: .3rem;
    /*margin: 0 5px;*/
    margin: 0;
    text-indent: -999em;
    /*border: 2px solid #fff;*/
    /*border-radius: 50%;*/
    cursor: pointer;
    opacity: 1;
/*    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;*/
}
.unslider nav.unslider-nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.unslider nav.unslider-nav ol li.unslider-active{
    background: #366df0;
    opacity: 1;
}

.pagewrap .mainlib .hotFocus{
    margin-top: 16px;
}

.pagewrap .mainlib .hotFocus ul li{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 16px;
    border-radius: 4px;
    width:256px;
    height:158px;
    overflow: hidden;
}
.pagewrap .mainlib .hotFocus ul li:last-child{
    margin-right: 0px;
}
.pagewrap .mainlib .hotFocus ul li a{
    display: block;
    width: 100%;
    position: relative;
}
.pagewrap .mainlib .hotFocus ul li a img{
    width:256px;
    /*height:160px;*/
    border-radius: 4px;
    -webkit-transition: .7s;
    transition: .7s;
}
.pagewrap .mainlib .hotFocus ul li a img:hover{  
    transform: scale(1.05);  
} 
.pagewrap .mainlib .hotFocus ul li a span{
    padding: .25rem .75rem;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.8);
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .7rem;
    line-height: 1.6;
    color: #fff;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}



.pagewrap .mainlib .list_con{
    margin-top: 1rem;
}
#subNavHide{
    position:fixed;
    top:510px; 
    z-index:1000;
    _position:absolute; 
    _top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2);
    display: none;
    top: 0;
    background: #fff;
    max-width: 800px;
    overflow: hidden;
    overflow-x:auto; 
}
.pagewrap .mainlib .list_con .car_tab ul{
    /*overflow: auto;*/
    white-space: nowrap;
    overflow-x: auto;
    /*height: 2rem;
    line-height: 1rem;*/
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid #e6e8eb;
}
.pagewrap .mainlib .list_con .car_tab ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-bottom: .5rem;
    font-size: .9rem;
    line-height: 1.2;
    -webkit-transition: color .5s ease-in;
    transition: color .5s ease-in;
    margin-right: 1.6rem;
    display: inline-block;
}
.pagewrap .mainlib .list_con .car_tab ul li:first-child:before {
    content: " ";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #3d464d;
    vertical-align: middle;
    opacity: 1;
}
.pagewrap .mainlib .list_con .car_tab ul li a{
    color: #828a92;
}
.pagewrap .mainlib .list_con .car_tab ul li.active {
    color: #3d464d;
    font-weight: 600;
    font-size: inherit;
}
.pagewrap .mainlib .list_con .car_tab ul li.active a{
    color: #333;
}

.pagewrap .mainlib .list_con .car_article_list{

}
.car_article_list ul {
    margin-bottom: 0;
}
.car_article_list ul li {
    border-bottom: 1px solid #e6e8eb;
    margin-top: -1px;
}
.car_article_list ul li:hover {
    background-color: #f6f6f6;
}

.car_article_list ul li:last-child {
    border-bottom: none
}

.car_article_list ul li .inner_li {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 9.5rem;
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
}


.car_article_list ul li .info-flow-monographic-wrapper.inner_li {
    height: 11.25rem
}

.car_article_list ul li .info-flow-monographic-wrapper.inner_li .mark {
    margin-left: 1rem;
    left: 0;
    top: 2rem
}

.car_article_list .img_box {
    float: left;
    width: 13rem;
    height: 7.5rem;
    background-color: #c3c3c3;
    position: relative;
    overflow: hidden;
}
.car_article_list .img_box div {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
}
.car_article_list .img_box img {
    -webkit-transition: .7s;
    transition: .7s;
    width: 100%;
    opacity: 1;
}
.car_article_list .img_box img:hover{  
    transform: scale(1.05);  
}
.car_article_list .inner_li_abtest .h5_mark {
    display: none!important;
}
.car_article_list .mark {
    position: absolute;
    top: .4rem;
    left: .4rem;
    display: block;
    padding: 0 .5rem;
    color: #fff;
    background: rgba(0,0,0,.5);
    font-size: .6rem;
    text-align: center;
    border-radius: 1rem;
    z-index: 11;
}
.car_article_list .intro {
    margin-left: 14rem;
    font-size: .65rem;
    line-height: 1.5;
    word-break: break-all;
    color: #828a92;
    height: 100%;
    position: relative;
}
.car_article_list .intro h3 {
    font-size: .9rem;
    max-height: 2.8em;
    font-weight: 600;
    margin-bottom: .25rem;
    line-height: 1.4em;
    color: #3d464d;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.car_article_list .intro h3:hover {
    color: #366df0
}

.car_article_list .intro h3:after {
    display: none
}
.car_article_list .intro .abstract {
    line-height: 1.6;
}
.car_article_list .intro .abstract {
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.1rem;
    max-height: 3.3rem;
}
.car_article_list .info {
    font-size: .65rem;
    word-break: break-all;
    color: #828a92;
    position: absolute;
    line-height: 1.2;
    vertical-align: middle;
    bottom: 1rem;
    width: 100%;
    padding-left: 14rem;
}
.car_article_list .info-list, .car_article_list .tags-list {
    display: inline-block;
    white-space: nowrap;
}
.car_article_list .tags-list span.separate:last-child{
    display: none;
}
.car_article_list .info-list-abtest {
    padding-right: 1rem!important;
}
.car_article_list .info .user-info {
    vertical-align: middle;
    display: inline-block;
}
.car_article_list .info .name {
    color: #999;
    margin: 0;
}
.car_article_list .info .oblique_line {
    padding: 0 .1rem;
    margin: 0;
}
.car_article_list .info .time-div, .car_article_list .info .user-info-point {
    vertical-align: middle;
    display: inline-block;
}
.car_article_list .info-list, .car_article_list .tags-list {
    display: inline-block;
    white-space: nowrap;
}
.car_article_list .tags-list i {
    display: inline-block;
    color: #999!important;
    margin-left: 0!important;
    vertical-align: middle;
    font-size: 14px;
    margin: 1px 4px 0 0;
}
.car_article_list .tags-list a {
    color: #999;
    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.car_article_list .inner_li_abtest .comments-list {
    display: inline-block;
    white-space: nowrap;
    float: right;
    vertical-align: middle;
}
.car_article_list .inner_li_abtest .comments-list span{
    margin-right:5px;
}

.car_article_list ul li .info-flow-monographic-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.car_article_list ul li .info-flow-monographic-inner a{
    display: block;
}
.car_article_list ul li .info-flow-monographic-inner .img-pad {
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: .7s;
    transition: .7s;
}
.car_article_list ul li .info-flow-monographic-inner .img-pad:hover{  
    transform: scale(1.05);  
} 
.car_article_list ul li .info-flow-monographic-inner .img-pad img {
    
}
.car_article_list ul li .info-flow-monographic-inner .background-cover {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 8;
    display: none;
}

.car_article_list ul li .info-flow-monographic-inner .info {
    padding: 0 1rem;
    bottom: 1rem;
    left: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 9
}

.car_article_list ul li .info-flow-monographic-inner .info .title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 600;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 1.5em
}

.car_article_list ul li .info-flow-monographic-inner .info .desc {
    font-weight: 400;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 3em;
    font-size: .7rem
}

.car_article_list ul li .baidu_ads_cell {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    padding: 1rem 0
}

/*aboutUs*/
.h-aboutUs {
    background: url('../images/about_us_bg.jpg') no-repeat center top;
    width: 100%;
    height: 500px;
    background-size: 1920px;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    font-size: 12px;
    /*margin-top: 1rem;*/
}
.h-aboutUs .hd {
    height: 70px;
    text-align: center;
}

.h-aboutUs .hd .bor-bton {
    background: url('../images/bor_bton.png') no-repeat center center;
    height: 6px;
    /* width: 435px; */
    margin: 0 auto;
}

.h-aboutUs .hd strong {
    display: block;
    width: 100%;
    height: 63px;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    font-weight: normal;
    color:#fff;
}
.h-aboutUs .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
}

.h-aboutUs .container .mod-l {
    float: left;
    width: 541px;
    height: 328px;
    margin: 35px 0 0 20px;
    background: url('../images/468w_img_bg.png') no-repeat left top;
}
.h-aboutUs .container .mod-r {
    float: right;
    width: 550px;
    margin: 0;
}
.h-aboutUs .container .mod-r .hdd {
    height: 30px;
    line-height: 30px;
    margin: 0;
}
.h-aboutUs .container .hd {
    height: 70px;
    text-align: center;
    padding-top: 0px;
}
.h-aboutUs .container .mod-r .hdd strong {
    font-size: 18px;
    color: #fff;
    text-align: left;
}
.h-aboutUs .container .mod-r .bd p {
    line-height: 24px;
    color: #fff;
    margin-bottom: 10px;
    height:120px;
    overflow:hidden;
    text-indent: 2em;
}
.h-aboutUs .container .mod-r .bd .link-more {
    display: block;
    width: 90px;
    margin: 10px 0;
    padding: 6px 5px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    text-align: center;
}
.h-aboutUs .container .mod-r .bd a.link-more:hover {
    border: 1px solid #00a2e9;
    background: #00a2e9;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
}
.h-aboutUs .container .mod-r .h-news{
    margin-top: 1rem;
}
.h-aboutUs .container .mod-r .bd .h-news-list li {
    line-height:25px;
}
.h-aboutUs .container .mod-r .bd .h-news-list li a{
    color: #fff;
}

/*focus*/
.mainlib .focus{
    width: 800px;
}
.mainlib .focus .focus-left{
    width: 530px;
    height: 361px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.mainlib .focus .focus-left a,
.mainlib .focus .focus-right a,
.focus-banner .fb-left a,
.focus-banner .fb-right a,
.iblock a
{
    display: block;
    /*overflow: hidden;*/
    position: relative;
}
.mainlib .focus .focus-left a img{
    max-width:530px;
    min-height:361px;
}
.mainlib .focus .focus-right a img{
    max-width:269px;
    min-height: 180px;
}
.mainlib .focus .focus-left a img,
.mainlib .focus .focus-right a img,
.focus-banner .fb-left a img,
.focus-banner .fb-right a img,
.iblock a img
{
    -webkit-transition: .7s;
    transition: .7s;
    border-radius: 4px;
}
.mainlib .focus .focus-left a img:hover,
.mainlib .focus .focus-right a img:hover,
.focus-banner .fb-left a img:hover,
.focus-banner .fb-right a img:hover,
.iblock a img:hover
{  
    transform: scale(1.05);  
} 
.mainlib .focus .focus-left a span,
.mainlib .focus .focus-right a span,
.focus-banner .fb-left a.con,
.focus-banner .fb-right a.con,
.iblock a span
{
    padding: .25rem .75rem;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.7);
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: .7rem;
    line-height: 1.6;
    color: #fff;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.mainlib .focus .focus-right{
    width: 269px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 1px;
    height: 361px;
    border-radius: 4px;
    position: relative;
}
.mainlib .focus .focus-right li{
    width: 269px;
    height: 180px;
    margin-bottom: 1px;
    overflow: hidden;
}
.mainlib .focus .focus-right li:last-child{
    margin-bottom: 0px;
}
.iblock{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.focus-banner{
    max-width: 1120px;
    margin: 0 auto;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.focus-banner .fb-left{
    width: 312px;
}
.focus-banner .fb-left img{
    max-width:312px;
    min-height:401px;
}
.focus-banner .fb-right{
    width: 807px;
    margin-left: 1px;
}
.focus-banner .fb-right .fb-first-left{
    width: 268px;
    height: 200px;
}
.focus-banner .fb-right .fb-first-right{
    width: 537px;
    height: 200px;
    margin-left: 1px;
}
.focus-banner .fb-right .fb-second{
    width: 268px;
    height: 200px;
    margin-left: 1px;
    margin-top: 1px;
}
.focus-banner .fb-right .fb-second:first-child{
    margin-left: 0px;
}

.focus-banner .fb-left a.con{
    top: 92%;
    -webkit-line-clamp: 5;
}

.focus-banner .fb-right a.con{
    top: 85%;
    -webkit-line-clamp: 5;
}
.focus-banner .fb-left a.con:hover{
    top:50%!important;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
}
.focus-banner .fb-right a.con:hover{
    top:0!important;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
}
.focus-banner a p{
    /*padding: 0px .75rem;*/
    color: rgb(203, 203, 203);
    line-height: 20px;
    font-size: 12px;
}
.focus-banner .fb-left a span,
.focus-banner .fb-right a span{
    font-weight: bold;
}